<div class="aiyou-detail container">
	<h2 class="detail-top">首页><span>西藏一站在灵魂之上</span></h2>
	<div class="article clear">
		<div class="art-left">
			<h1>西藏一站在灵魂之上</h1>
			<div class="base-info clear">
				<span class="date">2016.08.31</span>
				<span class="see">浏览：1986</span>
			</div>
			<div class="art-group">
				<img src="static/images/detail/01.jpg" alt="">
				<p>有些人是没有灵魂的，所以他不需要信仰、信念和坚持不懈的寻找过程，他的生命没有良心深处的痛苦忏悔，没有爱恨纠葛的艰难抉择，他们如黑暗中奔跑的风，没有光芒，没有色彩，也没有意义......</p>
			</div>
			<div class="art-group">
				<img src="static/images/detail/02.jpg" alt="">
				<p>有些人是没有灵魂的，所以他不需要信仰、信念和坚持不懈的寻找过程，他的生命没有良心深处的痛苦忏悔，没有爱恨纠葛的艰难抉择，他们如黑暗中奔跑的风，没有光芒，没有色彩，也没有意义......
				在到达西藏之前，我经过了许多河流，经过了许多风雨，也经过了许多花开花谢的季节。所以，我简单地以为，西藏就是一本厚厚的黄皮书，只要我安静地读，就能读懂。</p>
			</div>
			<div class="art-group">
				<img src="static/images/detail/03.jpg" alt="">
				<p>但是，我错了，西藏不是一本书，它是一副巨大的油画。时间为它涂上了浓浓的色彩，没有人能剥去一天天堆积起来的厚重，来猜测它的底色，只有静静的凝视，默默地仰望。</p>
			</div>
			<div class="art-group">
				<img src="static/images/detail/04.jpg" alt="">
				<p>我想，我一直是在仰望着西藏的，在布达拉宫高高的白墙红楼下，我的影子渺小的如落在地上的尘埃。我不断地绕着那座山，一遍又一遍地行走，我默默地站立在殿堂之上，双手合十。</p>
			</div>
		</div>
		<div class="art-right">
			<div class="user-info">
				<div class="user-pic">
					<img src="static/images/detail/xiaoye_01.png" alt="">
					<p>小野</p>
				</div>
				<p class="user-intro">一个追风景的人，一个走世界的快乐老男孩，外面的世界很大，我想去看看的非典型代表</p>
				<div class="hobby">
					<p class="hobby-title">兴趣爱好</p>
					<div>
						<span>徒步</span>
						<span>潜水</span>
						<span>滑雪</span>
						<span>骑马</span>
					</div>	
				</div>
			</div>
			<div class="column">
				<h2 class="column-title"><span>专栏－</span>金秋时节</h2>
				<div class="column-con">
					<a href="#">醉美天路自驾 绿野星空营地</a>
					<a href="#">西藏一站在灵魂之上</a>
					<a href="#">新疆行走笔记 这山这水，这一程美好（上）</a>
					<a href="#">41年梦断珠峰 身未登顶 人已成峰</a>
				</div>
			</div>
			<div class="share">
				<h2 class="share-title">分享此页至</h2>
				<div class="share-icon">
					<a class="qq" href="#"></a>
					<a class="weixin" href="#"></a>
					<a class="xinlang" href="#"></a>
				</div>
			</div>
		</div>
	</div>
</div>