<div class="container clear">
	<a class="logo" href="#"><img src="./static/images/logo .png" alt=""></a>
	<div class="start-city">
		<p class="hit"><span>北京</span>站<i></i></p>
		<div class="city-sel">
			<p>北京</p>
			<p>南京</p>
		</div>
	</div>

	<div class="search">
		<p><input type="search" placeholder="请输入目的地/产品名称"></p>
		<a href="list.html"><i></i></a>
	</div>

	<div class="header-right">
		<a href="login.html">登录</a>
		<a href="reg.html">注册</a>
	</div>
</div>
<div class="nav">
	<div class="container">
		<a class="active" href="index.html">首页</a>
		<a href="#">西藏专题</a>
		<a href="#">自驾活动</a>
		<a href="#">公司活动</a>
		<a href="#">社区</a>
	</div>	
</div>
	
