<div class="aiyou-login">
	<header>
		<a href="#"><img src="static/images/logo2.png" alt=""></a>
	</header>
	<div class="login-main">
		<img class="loginbg" src="static/images/login_bg.jpg" alt="">
		<div class="login-box">
			<h3>爱游会员中心</h3>
			<div class="login-warn">
				用户名和密码不匹配
			</div>
			<form action="#">
				<div class="user-group">
					<input type="text" placeholder="邮箱/手机号码/用户名">
				</div>
				<div class="pwd-group">
					<input type="text" placeholder="密码">
				</div>
				<button class="login-btn">登录</button>
				<div class="loginoption clear">
					<div class="option-left">
						<i class="checkbox"></i>
						<span>自动登录</span>
					</div>
					<div class="option-right">
						<a class="qtzh">用其他帐户登录</a>
						<span>|</span>
						<a href="#">忘记密码?</a>
					</div>
				</div>
				<div class="other-login">
					<img src="static/images/corner_bg.png" alt="">
					<div class="other">
						<a class="qq" href="#"></a>
						<a class="xl" href="#"></a>
					</div>
				</div>
				<div class="dashline"></div>
				<div class="reglink clear">
					你还不是爱游FAMILY的一员？
					<a href="reg.html">立即注册</a>
				</div>
			</form>
		</div>
	</div>
</div>