<div class="aiyou-reg">
	<header>
		<a href="#"><img src="static/images/logo2.png" alt=""></a>
	</header>
	<div class="reg-main">
		<h2 class="reg-title clear">
			<p class="title">注册爱游账号</p>
			<p>如果您已拥有爱游账号，则可<a href="login.html">在此登录</a></p>
		</h2>
		<form action="#">
			<div class="reg-intro">
				<div class="reg-group clear">
					<div class="th">用户名：</div>
					<input type="text">
					<div class="warn">长度为3~25个字符，不能以“_”开头或结尾</div>
				</div>
				<div class="reg-group clear">
					<div class="th">邮箱：</div>
					<input type="text">
					<div class="warn">例如:sample@163.com</div>
				</div>
				<div class="reg-group clear">
					<div class="th">密码：</div>
					<input type="text">
					<div class="warn">长度为8~16位字符，数字、字母、字符至少包含两种</div>
				</div>
				<div class="reg-group clear">
					<div class="th">确认密码：</div>
					<input type="text">
					<div class="warn"></div>
				</div>
				<div class="reg-bottom">
					<div class="dealcheckbox">
						<i class="checkbox"></i>
						<span>我已阅读并同意网站<a href="#">服务协议</a></span>
					</div>
					<button class="reg-btn">立即注册</button>
					<div class="loginlink">
						已有绿野会员帐号？
						<a href="login.html">立即登录</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>